<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/noroute">broken</a>
        <a href="/hello/{{secret}}">{{secret}}</a>

    </div>
    <h1>Welcome back {{userjinja['name']}}</h1>
    {{secret}}
    {% if True %}
        this is true
    {% endif %}

    {% for name in names  %}
        <a href="/hello/{{name}}">{{name}}</a>
        <div>
            <h1>whatever</h1>
        </div>
    {% endfor %}
</body>
</html>