<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new friend</title>
</head>
<body>
    <h1>add a friend</h1>
    <form action="/create" method="post">
        first: <input type="text" name="first_name" id="" value="test">
        last: <input type="text" name="last_name" id="">
        occupation: <input type="text" name="occupation" id="">
        <input type="submit" value="create friend">
    </form>
</body>
</html>